<% include ../partials/header %>

  <h1><%= pageTitle %></h1>
    
    <div class="ui link cards">
      <% notebooks.forEach((notebook) => { %>
        <div class="card">
          <div class="image">
            <img src="<%= notebook.imageURL %>">
          </div>
          <div class="content">
            <a class="header"><%= notebook.make %></a>
            <div class="description">
              <%= notebook.model %>
            </div>
          </div>
          <div class="extra content">
            <i class="tags icon"></i>
            <%= notebook.price %>
            <div class="right floated">
              <button class="ui primary button">
                Add to Cart
              </button>
            </div>
          </div>
        </div>
      <% }) %>
    </div>

<% include ../partials/footer %>